p{
  font-family: Arial, Helvetica, sans-serif;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
    background-color: red;
    color: orange;
    font: italic 20px Arial, Helvetica, sans-serif;
    font-weight: normal;

}

h3 {
  color: orange;
  font: italic 20px Arial, Helvetica, sans-serif;
  font-weight: normal;
    text-align: justify;
}

.major{
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.Rules{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.levels{
    background-color: bisque;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

#info {
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.style {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
  }
  
  a:link {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a:visited {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a:active {
    color:purple;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a:hover {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
  }  
  
.boxedimg{
  border: 2px solid black;
  padding: 10px;
  margin: 15pxSC;
  background-color: yellow;
}

body{
  background-color: #eeeeee;
  background-image: url(spongebob-money.gif);
}